<link rel="stylesheet" media="screen" href="/css/base.css" />
<link rel="stylesheet" href="/css/extraction.css">

<div class="counter-card">
    <h1 id="status-heading"> در این تاریخ اخباری وجود ندارد </h1>
</div>
  